@font-face {
    font-family: TrajanProBold;
    src: url(../fonts/Trajan_Pro_Bold.ttf);
}

body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    background-color: #000617;
    color: white;
    z-index: -5;
}
/* Halo effects like Hollow Knight */
/* Navbar */
.navbar {
    margin: 0.4rem 0.6rem;
    display: flex;
    gap: 0.75rem;
}

    .navbar a {
        color: white;
        transition: 0.25s;
    }

    .navbar a:hover {
        text-shadow: 0 0 20px #ffffff;
    }

    .navbar a:visited {
        text-decoration: none;
    }
/* --- */



/* Splash section */


.entry-content-index {
    display: flex;
    flex-direction: row;
    height: 92vh;
}

.entry-content-index img {
    width: 20vw;
    height: fit-content;
    align-self: center;
    margin-left: 15vw;
}

.splash {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    place-content: center;
    align-items: center;
}

.splash h1 {
    margin: 0.25rem;
    margin-right: 12vw;
    /* text-decoration: underline; */
}


.index-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.index-content h2 {
    margin: 0.25rem;
    margin-bottom: 2rem;
    font-family: TrajanProBold;
    font-size: 2rem;
    text-shadow: 0 0 15px #ffffff;
}

.index-content p {
    margin: 0.25rem;
    width: 44vw;
    line-height: 1.6rem;
    text-align: center;
    font-size: 1.4rem;
}

.png {
    image-rendering: auto;
}
/* --- */



/* Bugs */
.bug-title{
    text-align: center;
    font-size: 2rem;
    font-family: trajanprobold;
    text-shadow: 0 0 10px white;
    margin: 5rem;
}

.character-list {
    display: flex;
    column-gap: 2vw;
    row-gap: 2rem;
    flex-wrap: wrap;
    list-style-type: none;
}

.character-list li {
    width: 20rem;
    height: 12rem;
    /* background-image: url(../images/static-cornifer.png); */
    background-size: contain;
    background-repeat: no-repeat;

    & a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
        font-family: TrajanProBold;
    }
}

.character-list a:hover{
    text-shadow: 0 0 20px #ffffff;
}

.character-list li:has(a:hover) {
    /* background-image: url(../images/cornifer.webp); */
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: 50vh; */
}
.banker-li {background-image: url();}
.cp2-li {background-image: url();}
.cp3-li {background-image: url();}
.charm_slug-li {background-image: url(../images/static-charm_slug.png);}
.cornifer-li {background-image: url(../images/static-cornifer.png);}
.dream_witch-li {background-image: url();}
.dreamers-li {background-image: url();}
.elderbug-li {background-image: url();}
.enemy_dreams-li {background-image: url();}
.general-li {background-image: url();}
.ghosts-li {background-image: url();}
.hornet-li {background-image: url();}
.hunter-li {background-image: url();}
.iselda-li {background-image: url();}
.jiji-li {background-image: url();}
.minor_npc-li {background-image: url();}
.nailmasters-li {background-image: url();}
.nailsmith-li {background-image: url();}
.quirrel-li {background-image: url();}
.relic_dealer-li {background-image: url();}
.shaman-li {background-image: url();}
.sly-li {background-image: url();}
.stag-li {background-image: url();}
.zote-li {background-image: url();}

.banker-li:has(a:hover){background-image: url();}
.cp2-li:has(a:hover){background-image: url();}
.cp3-li:has(a:hover){background-image: url();}
.charm_slug-li:has(a:hover){background-image: url(../images/charm_slug.webp);}
.cornifer-li:has(a:hover) {background-image: url(../images/cornifer.webp);}
.dream_witch-li:has(a:hover){background-image: url();}
.dreamers-li:has(a:hover){background-image: url();}
.elderbug-li:has(a:hover){background-image: url();}
.enemy_dreams-li:has(a:hover){background-image: url();}
.general-li:has(a:hover){background-image: url();}
.ghosts-li:has(a:hover){background-image: url();}
.hornet-li:has(a:hover){background-image: url();}
.hunter-li:has(a:hover){background-image: url();}
.iselda-li:has(a:hover){background-image: url();}
.jiji-li:has(a:hover){background-image: url();}
.minor_npc-li:has(a:hover){background-image: url();}
.nailmasters-li:has(a:hover){background-image: url();}
.nailsmith-li:has(a:hover){background-image: url();}
.quirrel-li:has(a:hover){background-image: url();}
.relic_dealer-li:has(a:hover){background-image: url();}
.shaman-li:has(a:hover){background-image: url();}
.sly-li:has(a:hover){background-image: url();}
.stag-li:has(a:hover){background-image: url();}
.zote-li:has(a:hover){background-image: url();}

/* ---- */



/* Bugs' Individual Pages */
.character-one-content h2 {
    font-family: TrajanProBold;
    font-size: 0.9rem;
    text-shadow: 0 0 20px #17f8e5;
}

.character-one-content p {
    margin-bottom: 2rem;
}

.character-one-page h1 {
    font-family: TrajanProBold;
    margin: 2rem 1.5rem;
    text-decoration: underline;
}

.character-one-page ul {
    list-style-type: none;
}