@font-face {
    font-family: TrajanProBold;
    src: url(../fonts/Trajan_Pro_Bold.ttf);
}

body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    background-color: #050811;
    color: white;
    z-index: -5;
}
/* Halo effects like Hollow Knight */
/* Navbar */
.navbar {
    margin: 0.4rem 0.6rem;
    display: flex;
    gap: 0.75rem;
}

    .navbar a {
        color: white;
        transition: 0.25s;
    }

    .navbar a:hover {
        text-shadow: 0 0 20px #ffffff;
    }

    .navbar a:visited {
        text-decoration: none;
    }
/* --- */

/* Splash section */
.entry-content-index {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.entry-content-index img {
    width: 20vw;
    height: fit-content;
    align-self: center;
    margin-left: 15vw;
}

.splash {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    place-content: center;
    align-items: center;
}

.splash h1 {
    margin: 0.25rem;
    margin-right: 12vw;
    text-decoration: underline;
}


.index-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.index-content h2 {
    margin: 0.25rem;
    margin-bottom: 2rem;
    font-family: TrajanProBold;
    font-size: 2rem;
    text-shadow: 0 0 15px #ffffff;
}

.index-content p {
    margin: 0.25rem;
    width: 44vw;
    line-height: 1.6rem;
    text-align: center;
    font-size: 1.4rem;
}

.png {
    image-rendering: auto;
}
/* --- */

/* Bugs */
.character-list a{
    text-decoration: none;
    color: white;
    font-family: TrajanProBold;
}

.character-list a:hover{
    text-shadow: 0 0 20px #ffffff;
}


/* ---- */