body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    background-color: #050811;
    color: white;
    z-index: -5;
}
/* Halo effects like Hollow Knight */

.navbar {
    display: flex;
    gap: 0.5rem;
}

.navbar a {
    color: white;
}

.navbar a:visited {
    text-decoration: none;
}

.splash {
    display: flex;
    width: 100vw;
    height: 90vh;
    place-content: center;
    align-items: center;
}