body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #050811;
    line-height: 1.6;
    color: white;
}

.hunterEntrance {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    /* border: 1px solid white; */
}

.hunterEntrance img {
    width: 26%;
}